@model Novotic.Models.Cartera

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cartera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCartera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCartera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoutaRestanteCartera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoutaRestanteCartera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PendienteCartera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PendienteCartera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCartera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCartera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoVenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoCartera">
        <input class="btn btn-warning" type="submit" value="Editar" />
    </a> 
    <a asp-action="Index">
        <input class="btn btn-dark" type="submit" value="Volver" />
    </a>
</div>
