@model Novotic.Models.Ventum

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3 class="alert-danger py-3">¿Esta seguro que quiere eliminar esto?</h3>
<div>
    <h4>Ventum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoVenta" />
            <input  value="Delete" class="btn btn-danger" />
        <a asp-action="Index">
            <input class="btn btn-dark"  value="Volver" />
        </a>
    </form>
</div>
